:root {
  --color-text-400: #e0e0e0;
  --color-text-300: #888888;

  --color-grayscale-500: #2a2a2a;
  --color-grayscale-400: #1a1a1a;

  --color-beige-700: #332b23;
  --color-beige-600: #2b241d;
  --color-beige-500: #27211a;
  --color-beige-400: #221d17;

  --color-background-400: #221d17;

  --color-black-400: #000000;

  --color-gray-500: #4a4a4a;
  --color-gray-400: #777777;

  --color-orange-400: #00ff44;

  --color-white-400: #ffffff;

  --color-cyan-500: #00aa00;
  --color-cyan-400: #00ff00;

  --color-text-cyan-400: #aaffaa;
  --color-text-cyan-300: #55ff55;

  --color-dark-blue-600: #002200;
  --color-dark-blue-500: #001100;
  --color-dark-blue-400: #000a00;

  --color-hologram-top: rgb(0, 40, 0);
  --color-hologram-bottom: rgba(0, 80, 0, 0.6);
}

